body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    margin:0;
    padding:0;
}
header{
    background:#111827;
    text-align: center;
    color: white;
    padding:20px;
}
#tools-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding:20px;
}
.tool-card {
    background:white;
    border-radius: 10px;
    padding:15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.tool-card a {
    text-decoration: none;
    font-weight: bold;
    color:#2563eb;
    
}

